APP_NAME=BytePost
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tu-dominio.railway.app

DB_CONNECTION=mongodb
DB_DATABASE=bytepost
DB_URI=

NEWSDATA_API_KEY=
GROQ_API_KEY=

SESSION_DRIVER=file
CACHE_STORE=file